*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans',sans-serif;
	background-color: #7d93e0;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.app{
	width: 300px;
	height: 450px;
	background-color: rgb(61, 55, 55);
	border-radius: 10px 10px 0 0;
}

.app__output{
	height: 30%;
	border-bottom: 5px solid rgb(168, 111, 4);
}

.app__output_num-prev, .app__output_num-now{
	max-width: 300px;
	display: flex;
	align-items: center;
	justify-content: end;
	height: 50%;
	text-align: end;
	overflow-wrap: break-word;
	color: white;
	padding: 5px;
	overflow: hidden;
}

.app__output_num-prev{
	font-size: 14px;
}

button{
	border: none;
	transition: .2s all;
	cursor: pointer;
}

button:hover{
	background-color: rgb(207, 152, 50);
}

.app__grid{
	height: 70%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1px;
}

.app__grid .equale{
	grid-column-start: 3;
	grid-column-end: 5;
	background-color: bisque;
}

.app__grid .clear{
	background-color: bisque;
}